.header {
    background-color:  #181818 !important;
    color:  #FEFEFE;
    border-radius: 80px !important;
    /*padding: 20px;*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    align-items: start;
    position:absolute;
    width: auto;
}

@media (max-width: 640px){
  .header { 
    overflow-y:hidden;
    overflow-x:scroll;
    text-wrap: nowrap;
  }
  .my-nav {
    height: 70px; 
    width: 600px; 
  }
}

.nav-element {
    font-size: 20px !important;
    font-weight: normal;
    color: var(--text);
    /*font-family: 'Courier New', monospace;*/
}

.nav-links-container > div {
    padding: 4px 8px;
    border-radius: 8px;
    position: relative;
}

.nav-highlight-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #00ffcc; /* Customize the color */
    border-radius: 8px;
    z-index:1;
}
.nav-tabs-wrapper {
    position: relative;
    display: flex;
    gap: 12px;
    padding-left: 20px;
}

.nav-tab {
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    z-index: 1;
}

.nav-highlight-border {
    position: absolute;
    border: 2px solid #00ffff;
    border-radius: 10px;
    z-index: 0;
}

.active-link {
  background-color: aqua;
}

.nav-separator {
    height: 40px;
    align-self: center !important;
}

.nav-container {
   text-align: center;
  color: var(--text);
  background-color:  #0F0F0F !important;
  font-size: large;
  font-weight: bold;
  padding: 30px 30px;
  transition: all .5s;
  height: auto;
  width: auto;
}

